*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.wrapper{
  width: 860px;
  margin: 0 auto;
}

.wrapper ul{
  list-style: none;
  margin-top: 2%;
  cursor: pointer;
}

.wrapper ul li{
  background: #262626;
  width: 170px;
  border: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 14px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper ul li:hover{
  background: crimson;
}

.wrapper ul ul{
  display: none;
}

.wrapper ul li:hover > ul{
  display: block;
}

.wrapper ul ul ul {
  margin-left: 170px;
  top: 0;
  position: absolute;
}